# Supabase Configuration
VITE_SUPABASE_URL=https://your-project.supabase.co
VITE_SUPABASE_PUBLISABLE_KEY=your-publishable-key
VITE_SUPABASE_SECRET_KEY=your-secret-key

# PowerSync Configuration
VITE_POWERSYNC_URL=https://your-instance.powersync.com

# Expo Configuration
EXPO_PUBLIC_SUPABASE_URL=your_supabase_url_here
EXPO_SUPABASE_PUBLISABLE_KEY=your_supabase_publishable_key_here
EXPO_SUPABASE_SECRET_KEY=your_supabase_secret_key_here
EXPO_PUBLIC_POWERSYNC_URL=your_powersync_url_here
